@import "../scss/_variable.scss";

.header-nav {
  background-color: var(--secondary-color);
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  background-color: var(--secondary50l-color);
  border-radius: 1rem;
  box-shadow: 0 1px 3px var(--primary-color);

  .logo-img {
    height: 2.5rem;
    margin: 0.5rem;
  }
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .bar {
    background-color: var(--secondary30l-color);
    height: 0.25rem;
    border-radius: 9999px;

    &.bar-long {
      width: 8rem;
    }

    &.bar-short {
      width: 6rem;
    }
  }

  .search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;

    .search-icon {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--secondary50l-color);
    }

    &:focus {
      color: var(--primary20d-color);
    }
  }
}
