@import "../scss/_variable.scss";

.home-container {
  display: flex;
  height: 100vh;
  background-color: lighten($secondary-color, 30%);
}

.home-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home-content {
  flex: 1;
  padding: 1.5rem;
  overflow: auto;
}

.home-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home-details {
  border-radius: 0.5rem;
  background-color: lighten($secondary-color, 50%);
  box-shadow: 1px 1px 4px $primary-color;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.home-subtitle {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
