@import "../scss/_variable.scss";
@import "../scss/_mixins.scss";

.home-container {
  display: flex;
  height: 100vh;
  background-color: var(--secondary30l-color);

  @include respond("sm") {
    flex-direction: row;
    height: auto;
  }
}

.home-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home-content {
  flex: 1;
  padding: 1.5rem;
  overflow: auto;

  @include respond("sm") {
    padding: 1rem;
  }

  @include respond("lg") {
    padding: 2rem;
  }
}

.home-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;

  @include respond("sm") {
    font-size: 1.25rem;
  }
}

.home-details {
  border-radius: 0.5rem;
  background-color: var(--secondary50l-color);
  box-shadow: 1px 1px 4px var(--primary-color);
  padding: 1.5rem;
  margin-bottom: 1.5rem;

  @include respond("sm") {
    padding: 1rem;
  }

  @include respond("lg") {
    padding: 2rem;
  }
}

.home-subtitle {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;

  @include respond("sm") {
    font-size: 1rem;
  }

  @include respond("lg") {
    font-size: 1.25rem;
  }
}
