@import "../scss/_variable.scss";
@import "../scss/_mixins.scss";

.transaction-container {
  display: flex;
  height: 100vh;
  background-color: var(--secondary30l-color);

  @include respond("sm") {
    flex-direction: row;
    height: auto;
  }
}

.transaction-main {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.transaction-content {
  flex: 1;
  padding: 1.5rem;
  overflow: auto;

  @include respond("sm") {
    padding: 1rem;
  }
}

.transaction-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;

  @include respond("sm") {
    font-size: 1.25rem;
  }
}

.transaction-category {
  border-bottom-width: 1px;
  border-color: var(--primary-color);
  margin-bottom: 1.5rem;
  display: flex;
  gap: 2rem;

  @include respond("sm") {
    gap: 1rem;
    overflow-x: auto;
    font-size: 0.875rem;
  }
}

.active {
  padding: 0.5rem 1rem;
  margin-bottom: -0.125rem;
  font-weight: 600;
  background-color: transparent;
  border-bottom-width: 0.325rem;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.inactive {
  padding: 0.5rem 1rem;
  margin-bottom: -0.125rem;
  font-weight: 600;
  background-color: transparent;
  border-bottom-width: 0.325rem;
  border-color: transparent;
  color: var(--secondary-color);

  &:hover {
    color: var(--primary-color);
  }
}

.transaction-table {
  overflow-x: auto;
  border-radius: 0.25rem;
  box-shadow: 0 1px 4px var(--primary-color);

  table {
    min-width: 100%;
    border-collapse: collapse;

    thead {
      background-color: var(--secondary-color);
    }

    th {
      padding: 1rem 0.75rem;
      text-align: left;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 500;
      color: var(-primary20d-color);
      text-transform: uppercase;
      letter-spacing: 0.05rem;

      &:nth-child(3) {
        text-align: center;
      }

      &:nth-child(4) {
        text-align: right;
      }
    }

    tbody {
      background-color: var(--secondary30l-color);
      color: var(--primary-color);
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    tr {
      &:hover {
        background-color: var(--secondary50l-color);
        transition: background-color 0.3s;
      }

      .button {
        background-color: var(--primary-color);
        transition: background-color 0.3s;

        &:hover {
          background-color: red;
        }
      }
    }

    td {
      padding: 1rem 0.75rem;

      &.actions {
        display: flex;
        gap: 0.5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
      }

      button {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;

        &:hover {
          color: var(--primary-color);
        }

        &.delete {
          &:hover {
            color: rgb(220 38 38);
          }
        }
      }

      &:nth-child(3) {
        text-align: center;
      }
      &:nth-child(4) {
        text-align: right;
      }
    }
  }
}

.empty {
  text-align: center;
  padding: 0 2rem;
  color: var(--primary-color);

  @include respond("sm") {
    padding: 0 1rem;
  }
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.buy-container {
  background-color: var(--secondary50l-color);
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px var(--primary-color);
  padding: 1.5rem;
  width: 100%;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;

  @include respond("sm") {
    padding: 1rem;
    margin-top: 1.5rem;
  }
}

.buy-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--primary-color);

  @include respond("sm") {
    font-size: 1.25rem;
  }
}

.line {
  border-bottom-width: 1px;
  border-color: var(--primary-color);
  margin-bottom: 1.5rem;
  display: flex;
  gap: 2rem;

  @include respond("sm") {
    gap: 1rem;
    overflow-x: auto;
    font-size: 0.875rem;
  }
}

.buy-wrapper {
  margin-bottom: 1.5rem;
}

.buy-content {
  background-color: var(--secondary50l-color);
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px var(--primary-color);
  overflow: hidden;

  @include respond("sm") {
    flex-direction: column;
    max-width: 100%;
  }
}

.buy-items {
  flex: 1;
  padding: 1.5rem;

  @include respond("sm") {
    padding: 1rem;
  }
}

.buy-subtitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--primary-color);

  @include respond("sm") {
    font-size: 1rem;
  }
}

input {
  width: 100%;
  padding: 0.5rem;
  border-width: 0.125rem;
  background-color: transparent;
  border-color: var(--primary-color);
  border-radius: 0.25rem;

  &::placeholder {
    color: var(--primary-color);
  }
}

.limit {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  overflow: auto;
  text-align: center;
}

.add {
  display: flex;
  justify-content: center;

  button {
    margin-top: 1rem;
    color: var(--primary-color);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem;
    text-decoration-line: underline;
    border-width: 0.125rem;
    border-color: var(--primary-color);
    border-radius: 2rem;
    background-color: transparent;
    cursor: pointer;
  }
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;

  button {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 0.5rem;
    width: 6rem;
    text-align: center;
    border-radius: 9999px;
    cursor: pointer;
  }
}
