// @use "sass.map";

@mixin theme-styles($theme-name) {
  $theme: map-get($themes, $theme-name);
  $primary-color: map-get($theme, primary-color);
  $secondary-color: map-get($theme, secondary-color);

  background-color: $primary-color;
  color: white;
}
