.theme-blue {
  --primary-color: #2563eb;
  --primary10d-color: rgba(37, 99, 235, 1);
  --secondary-color: rgba(37, 99, 235, 0.5);
  --secondary20l-color: rgba(37, 99, 235, 0.4);
  --secondary30l-color: rgba(37, 99, 235, 0.35);
}

.theme-green {
  --primary-color: #16a34a;
  --secondary-color: rgba(#16a34a, 0.5);
}

.theme-red {
  --primary-color: #dc2626;
  --secondary-color: rgba(#dc2626, 0.5);
}

.theme-yellow {
  --primary-color: #eab308;
  --secondary-color: rgba(#eab308, 0.5);
}

.theme-purple {
  --primary-color: #7c3aed;
  --secondary-color: rgba(#7c3aed, 0.5);
}
