// $primary-color: var(--primary);
$primary-color: #2563eb;
// $primary-color: #16a34a;
// $primary-color: #dc2626;
// $primary-color: #eab308;
// $primary-color: #7c3aed;
$secondary-color: rgba($primary-color, 0.5); // 50% opacity

$font-stack: "Segoe UI", sans-serif;
